<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>9GAG Web Code Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div class="container" ng-controller="AppCtrl">
      <h1 class="inlineBlock">9GAG Web Code Test</h1>
      <div class="dropdown pull-right">
        <h3 class="inlineBlock top-buffer">Sorted By:</h3>
        <!--
        Create a select list for user to choose how to sort the posts, default sorted by post creation time
        Read the options name from "sortOptions" defined in controller
        Return the options value to ng-model which will be uesd for http get request to access new sorted posts list according to the user selection
        -->
        <select class="selectpicker adjust" ng-model='sortedBy' ng-init="sortedBy = sortOptions[0]" ng-options="option.name for option in sortOptions"  ng-change='sortPosts()'></select>
      </div>
      <!--
      Infinite scroll view for display posts
      Call loadMore() when scroll down
      The scroll will be disabled if the previous loadMore() is still loading or there are no more posts to load
      -->
      <div class="scrollContent" infinite-scroll='loadMore()' infinite-scroll-distance='2' infinite-scroll-disabled='isBusy||noPosts'>
        <!-- Loop the row in all row-->
        <div class="row" ng-repeat='row in rows'>
          <hr>
          <!-- Loop the posts in a row-->
          <div ng-repeat='post in row' class="col-md-4">
            <!--
            If the type is video, return a video tag
            Otherwise, return a image tag
            -->
            <div ng-if=" post.type=='video' ">
                <video class="video" ng-src="{{post.video}}" controls></video>
            </div>
            <div ng-if=" post.type=='image' ">
              <img class="photo" ng-src='{{post.images}}'>
            </div>

            <div class="postContents">
              <span>Likes: {{post.likes}}</span>
              <span class="pull-right">Comments: {{post.comments}}</span>
              <!-- Use caption directive to return caption with tag linked to corresponding IG site-->
              <span class="nonInlineBlock" caption contents='{{post.caption}}'></span>
              <br>
              <!-- Use time directive to return time relative to now-->
              <span class="pull-right" time creatat='{{post.created_time}}' url='{{post.url}}'></span>
            </div>
          </div>
        </div>

        <div class='footer'>
          <!-- show the status is inititalizing, loading or no posts when the corresponding variable is set to true-->
          <div ng-show='isInit'><h2>Inititalizing...</h2></div>
          <div ng-show='isBusy'><h2>Loading posts...</h2></div>
          <div ng-show='noPosts'><h2>No more posts.</h2></div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <script src="controller.js"></script>
  <script src="static/ng-infinite-scroll.js"></script>
</html>
